.box{
    border: 2px solid black;
    background-color: coral;
    height: 470px; 
}
.response{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
h1{
     align-items: center;
}
section{
    border: 2px solid black;
    background-color: bisque;
    width: 30%;
    max-height: 220px;
    margin: 10px;
}
.inbox{
    background-color: red;
    border: 2px solid black;
    max-width: 35px;
}
@media  screen and (min-width : 768px) and (max-width:991px ) {
    .response{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .box{
        background-color: darkseagreen;
    }

    .break {
        flex-basis: 100%;
        height: 0;
    }
    .para1,.para2{
        width: 45%;
    }
    .para3{
        width: 96%;
    }
    

}
@media screen and (max-width: 767px) {
    .response{
        flex-direction: column;
        align-items: center;
    }
    section{
        width: 70%;
        margin: 10px;
    }
    .box{
        height: auto;
    }

}




